body {
  background: #f5f3ef;
}

.hero-img {
  height: 400px;
  object-fit: cover;
}

.sidebar {
  width: 250px;
  padding: 15px;
}

.sidebar h3 {
  margin-bottom: 10px;
}

.main-item {
  font-weight: bold;
  cursor: pointer;
  margin: 10px 0;
}

.category {
  margin-bottom: 10px;
}

.sub-menu {
  margin-left: 20px;
  display: block;
}

.sub-menu p {
  margin: 5px 0;
  cursor:progress;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  color: #202020;
}
.sub-menu p:hover{
  text-decoration: #121212;
  font-weight: 200;
  color: #080707;
}
.cafe-card {
  border-radius: 18px;
  overflow: hidden;
  transition: 0.3s;
  box-shadow: 0 6px 15px rgba(0, 0, 0, 0.1);
}

.cafe-card:hover {
  transform: translateY(-8px);
}

.img-wrapper {
  height: 180px;
  overflow: hidden;
}

.img-wrapper img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.price {
  position: absolute;
  top: 10px;
  right: 10px;
  background: orange;
  padding: 5px 10px;
  border-radius: 20px;
  color: white;
  font-size: 12px;
}

.btn-cafe {
  background: #222;
  color: white;
}

.btn-cafe:hover {
  background: orange;
}
.mode-toggle {
  border: none;
  background: transparent;
  font-size: 22px;
  cursor: pointer;
}
body.dark {
  background-color: #121212;
  color: white;
}

body.dark .navbar {
  background-color: #000 !important;
}

body.dark .sidebar {
  background-color: #1e1e1e;
}

body.dark .card {
  background-color: #2a2a2a;
  color: white;
}